<h1>New Game....Let's Start</h1>
<% @letters.each do |letter| %>
  <h4 class="letter"><%= letter.capitalize %></h4>
<% end %>
<br>
<p>What is the logest word you can find?</p>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word">
  <input class="button" type="submit" value="Play:)">
</form>
